
$level-zero-color: #fff !default;
$level-one-color: #121f40 !default;
$accent-color: #fa913b !default;
$level-two-color: #313d59 !default;
$navfont-color: #e1e1e1 !default;
$text-color: #000 !default;
