$level-zero-color: #191e24;
$level-one-color: #1f2a34;
$accent-color: #7cbee0;
$level-two-color: #2e3138;
$navfont-color: #e1e1e1;
$text-color: #e1e1e1;




@import '../../shared/scss/base';

@import '../../shared/fontawesome/scss/fontawesome';

$fa-font-path: '../../shared/fontawesome/webfonts';

@import '../../shared/fontawesome/scss/brands';

@import '../../shared/fontawesome/scss/solid';

@import '../../shared/fontawesome/scss/regular';

@import './report';

@import './kmom';

/* Under mina övriga imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {

    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Open Sans', sans-serif;

}
/* Resten av min stylesheet */
